{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
<div>
<h2 style="padding-left:600px;padding-top:50px;color:#4B7E73;font-family:Baskerville Old Face font;">Find your own passion</h2>
<h1 style="padding-left:630px;color:#bf7b74;font-family:Baskerville Old Face font;">OPENINGS</h1>
<h1 style="padding-left:100px;padding-top:40px;font-family:Baskerville Old Face font;">Interested in working with us?</h1>

</div>

</body>
</html>